<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://genereandsendpdf20231116224442.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/59b41938-4d64-45d8-9ab4-e1fc6656dcee/resourcegroups/appsvc_linux_centralus_basic/providers/Microsoft.Web/sites/GenereAndSendPdf20231116224442</ResourceId>
    <UserName>$GenereAndSendPdf20231116224442</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://genereandsendpdf20231116224442.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>