<nz-steps [nzCurrent]="current" nzSize="small">
  <nz-step nzTitle="Identite du Locataire"></nz-step>
  <nz-step nzTitle="Appartement"></nz-step>
  <nz-step nzTitle="Récapitulatif"></nz-step>
</nz-steps>
<div *ngIf="current === 0">
  <nz-spin [nzSpinning]="isSpinningLocataire">
    <form nz-form [formGroup]="locataireForm">
      <div nz-row nzGutter="24">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control>
              <molecules-select
                formControlName="civilite"
                placeholder="Civilite"
                [data]="civilite$"
                id="situationFamiliale"
                longueur="200"
                (ngModelChange)="valeurValide()"
              ></molecules-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>
      </div>
      <div nz-row nzGutter="24">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control>
              <molecules-input
                longueur="200"
                placeholder="Nom du locataire"
                formControlName="nom"
                id="nomLocataire"
                (ngModelChange)="valeurValide()"
              ></molecules-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control>
              <molecules-input
                placeholder="Prénom du locataire"
                id="prenomLocataire"
                longueur="200"
                formControlName="prenom"
                (ngModelChange)="valeurValide()"
              ></molecules-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="24">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid E-mail!">
              <molecules-input
                placeholder="adresse email"
                id="maillocataire"
                formControlName="mail"
                longueur="200"
                (ngModelChange)="valeurValide()"
              >
              </molecules-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control>
              <molecules-datePicker
                formControlName="dateDeNaissance"
                longueur="200"
                placeholder="Date de naissance"
                format="dd/MM/yyyy"
                (ngModelChange)="valeurValide()"
              ></molecules-datePicker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="24">
        <div nz-col nzSpan="12">
          <molecules-input
            placeholder="Telephone"
            id="telephone"
            [estUnTelephone]="true"
            formControlName="telephone"
            longueur="200"
            (ngModelChange)="valeurValide()"
          >
          </molecules-input>
        </div>
        <div nz-col nzSpan="12">
          <molecules-input placeholder="IBAN" id="iban" formControlName="iban" longueur="200" (ngModelChange)="valeurValide()">
          </molecules-input>
        </div>
      </div>
      <div nz-row nzJustify="space-between">
        <div nz-col>
          <button nz-button nzShape="round" nzType="primary" (click)="close()">
            <i nz-icon nzType="close" nzTheme="outline"></i>
            Annuler
          </button>
        </div>
        <div nz-col *ngIf="current !== 0">
          <button
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="precedent()"
            [disabled]="!locataireForm.valid"
            [nzLoading]="loadingSave"
          >
            <i nz-icon nzType="save" nzTheme="outline"></i>
            <label>Précédent</label>
          </button>
        </div>
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="confirm()"
            [disabled]="!locataireForm.valid"
            [nzLoading]="loadingSave"
          >
            <i nz-icon nzType="save" nzTheme="outline"></i>
            <label>Next</label>
          </button>
        </div>
      </div>
    </form>
  </nz-spin>
</div>
<div *ngIf="current === 1">
  <form nz-form [formGroup]="AppartementForm">
    <div nz-row>
      <label>Que voulez-vous faire: </label>
      <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="affichageAppartementChoix($event)">
        <label nz-radio nzValue="'A'">Attribuer un appartement existant</label>
        <label nz-radio nzValue="'B'">Saisir un nouvel appartement</label>
        <label nz-radio nzValue="'C'">Ne pas attribuer d'appartement pour l'instant</label>
      </nz-radio-group>
    </div>
    <molecules-recherche-appartement></molecules-recherche-appartement>
    <div nz-row *ngIf="afficheRecherche"></div>

    <div nz-row nzJustify="space-between">
      <div nz-col>
        <button nz-button nzShape="round" nzType="primary" (click)="close()">
          <i nz-icon nzType="close" nzTheme="outline"></i>
          Annuler
        </button>
      </div>
      <div nz-col>
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="precedent()"
          [disabled]="!locataireForm.valid"
          [nzLoading]="loadingSave"
        >
          <i nz-icon nzType="save" nzTheme="outline"></i>
          <label>Précédent</label>
        </button>
      </div>
      <div nz-col>
        <button nz-button nzType="primary" nzShape="round" (click)="confirm()" [disabled]="!locataireForm.valid" [nzLoading]="loadingSave">
          <i nz-icon nzType="save" nzTheme="outline"></i>
          <label>Next</label>
        </button>
      </div>
    </div>
  </form>
</div>
